.moviesCardList__list{
    padding: 0;
    margin: 0;
/*     margin-left: 70px;
    margin-right: 70px; */
    display: grid;
    grid-template-columns: repeat(3, minmax(160px, 360px));
    grid-template-rows: repeat(4, minmax(160px, 250px));
/*     grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    max-width: 100%;
    border: 1px solid red;
}
@media screen and (max-width: 768px) {
    .moviesCardList__list{
        grid-template-columns: repeat(2, minmax(160px, 360px));
        grid-template-rows: repeat(4, minmax(160px, 250px));
    }
  }
  @media screen and (max-width: 400px) {
    .moviesCardList__list{
        grid-template-columns: repeat(1, minmax(160px, 360px));
        grid-template-rows: repeat(4, minmax(160px, 250px));
    }
  }
.moviesCardList__button-container{
min-height: 166px;
display: flex;
    align-items: center;
    justify-content: center;
}
.moviesCardList__button{
    padding: 0;
    background-color: #F4F4F4;
    width: 100%;
    border: none;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
}