.moviesCard{
    border: 1px solid green;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    
}
.moviesCard__image{
    max-width: 360px;
    height: 201px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-color: #F4F4F4;
}
.moviesCard__name{
    margin: 0;
    padding-right: 10px;
    margin-left: 14px;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.moviesCard__duration{
    margin: 0;
    margin-right: 18px;
    color: #A0A0A0;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}
.moviesCard__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
}