.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .notFound {
    justify-content: flex-end;
  }
}
.notFound__container {
  text-align: center;
}
.notFound__header {
  color: #000;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-top: 244px;
}
@media screen and (max-width: 400px) {
  .notFound__header {
    font-size: 80px;
  }
}
@media screen and (max-width: 320px) {
  .notFound__header {
    margin-top: 330px;
  }
}
.notFound__text {
  font-size: 16px;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .notFound__text {
    font-size: 12px;
    margin-top: 10px;
  }
}
.notFound__button {
  margin-top: 190px;
  margin-bottom: 60px;
  color: #3456f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border:none;
}
@media screen and (max-width: 400px) {
  .notFound__button {
    margin-bottom: 30px;
    font-size: 12px;
  }
}
