.portfolio__links {
  gap: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .portfolio__links {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio__links {
    margin-bottom: 0;
  }
}
.portfolio__link {
  margin: 0;
  height: 50px;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .portfolio__link {
    font-size: 28px;
  }
}
@media screen and (max-width: 620px) {
  .portfolio__link {
    font-size: 23px;
  }
}
@media screen and (max-width: 320px) {
  .portfolio__link {
    height: 28px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
}
.portfolio__link-button {
  line-height: 60px;
}
@media screen and (max-width: 320px) {
  .portfolio__link-button {
    line-height: 28px;
  }
}
.portfolio__links-header {
  margin: 0;
  margin-bottom: 50px;
  color: #a0a0a0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media screen and (max-width: 320px) {
  .portfolio__links-header {
    margin-top: 70px;
    font-size: 14px;
    margin-bottom: 43px;
  }
}
