.portfolio__links{
    /* display: grid;
grid-template-columns: 1fr 30px;
grid-template-rows: repeat(3, 1fr);
 */
grid-row-gap: 40px;

align-items: center;
}
@media screen and (max-width: 1024px) {
    .portfolio__links{

    }
  }
  @media screen and (max-width: 620px) {
    .portfolio__links{

    }
  }
.portfolio__link{
    margin: 0;
    color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 50px;
letter-spacing: -1.2px;
display: flex;
justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .portfolio__link{
        font-size: 28px;

    }
  }
  @media screen and (max-width: 620px) {
    .portfolio__link{
        font-size: 23px;
    }
  }
  @media screen and (max-width: 320px) {
    .portfolio__link{
        font-size: 18px;
    }
  }
.portfolio__link-button{
    color: #000;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 60px;
letter-spacing: -1.2px;

}

.portfolio__links-header{
    margin: 0;
    margin-bottom: 50px;

    color: #A0A0A0;
    font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
@media screen and (max-width: 1024px) {
    .portfolio__links-header{


    }
  }
  @media screen and (max-width: 620px) {
    .portfolio__links-header{


    }
  }
  @media screen and (max-width: 320px) {
    .portfolio__links-header{
      font-size: 18px;

    }
  }
