.searchForm {
  width: 100%;
}
.searchForm__input {
  padding: 0;
  width: calc(100% - 22px);
  outline-style: none;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border-radius: 40px;
  background: #f4f4f4;
  margin-bottom: 42px;
  border: none;
  min-height: 46px;
  padding-left: 22px;
}

.searchForm__button {
  padding: 0;
  width: 58.65px;
  height: 34px;
  border-radius: 48px;
  background: #3456f3;
  position: absolute;
  right: 0;
  top: 6px;
  border: none;
  margin-right: 6px;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
}
.searchForm__form {
  margin-top: 54px;
  margin-bottom: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}
@media screen and (max-width: 768px) {
  .searchForm__form {
    margin-top: 75px;
  }
}
@media screen and (max-width: 320px) {
  .searchForm__form {
    margin-bottom: 50px;
  }
}
