.form{
    display: flex;
    max-width: 1280px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.form__form{
    display: flex;
    flex-direction: column;
}
.form__header{
    margin-top: 40px;
    margin-bottom: 40px;
}
.form__container{
    width: 396px;
}
@media screen and (max-width: 425px) {
    .form__container {
        width: 260px;
        display: flex;
    flex-direction: column;
    align-items: center;
    }
}
.form__button{
    margin-top: 59px;
    margin-bottom: 16px;
    border-radius: 3px;
background: #3456F3;
height: 45px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}
.form__text{
    text-align: center;
    color: #A0A0A0;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form__link{
    color: #3456F3;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 6px;
}
.form__field-name{
    display: flex;
    flex-direction: column;
    
    color: #A0A0A0;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.form__input{
    padding:0;
    height: 46px;
    padding-left:15px;
    border-radius: 8px;
background: #F4F4F4;
color: #000;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
border:none;
margin-top: 10px;
margin-bottom: 10px;
outline:none;
}
.form__input-error{
    /* margin-bottom: 10px; */
    color: #EE3465;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}