.techs {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
@media screen and (max-width: 768px) {
  .techs {
    min-height: 412px;
  }
}
.techs__header {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: 82px;
  margin-bottom: 26px;
}
@media screen and (max-width: 320px) {
  .techs__header {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-top: 50px;
    margin-bottom: 10px;
  }
}
.techs__paragraph {
  margin: 0;
  margin-bottom: 85px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 458px;
}
@media screen and (max-width: 768px) {
  .techs__paragraph {
    margin-left: 18px;
    margin-right: 18px;
    font-size: 12px;
    margin-bottom: 56px;
  }
}
@media screen and (max-width: 320px) {
  .techs__paragraph {
    margin-left: 0;
    margin-right: 0;
    font-size: 11px;
    margin-bottom: 30px;
    letter-spacing: -0.44px;
  }
}
.techs__techs {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  justify-content: center;
}
@media screen and (max-width: 760px) {
  .techs__techs {
    margin-left: 19px;
    margin-right: 19px;
    row-gap: 10px;
  }
}
@media screen and (max-width: 320px) {
  .techs__techs {
    margin-left: 56px;
    margin-right: 19px;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}
.techs__list {
  border-radius: 10px;
  background: #e8e8e8;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  
}
@media screen and (max-width: 1024px) {
  .techs__list {
    width: 84px;
    height: 57px;
  }
}
@media screen and (max-width: 320px) {
  .techs__list {
    font-size: 12px;
    width: 84px;
    height: 57px;
  }
}
.techs__list:last-child {
  margin-bottom: 0;
}
